body {
    font-family: Georgia, serif;
    background-color: #0b3d2e;
    color: white;
    text-align: center;
}

h1 {
    color: gold;
}

button {
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
}

button:not(:disabled) {
    cursor: pointer;
}

button:not(:disabled):hover {
    background-color: gold;
}

#splitButton:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

