body {
    font-family: Georgia, serif;
    background-color: #0b3d2e;
    color: white;
    text-align: center;
    font-size: 22px;
}

h1 {
    color: gold;
    font-size: 56px;
    margin-top: 60px;
}

button {
    padding: 14px 24px;
    margin: 14px;
    min-width: 160px;
    border-radius: 8px;
    font-size: 20px;
}

button:hover {
    background-color: gold;
    cursor: pointer;
}

p {
    color: gold;
    font-size: 26px;
    font-weight: bold;
}

#message {
    margin-top: 25px;
    font-weight: bold;
    color: gold;
    font-size: 28px;
}
